@theme {
  --font-nanum:
    'NanumGothic', 'Malgun Gothic', '맑은 고딕', 'Apple SD Gothic Neo',
    sans-serif;
  --font-nanum-sans: 'NanumGothic', ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    font-family: var(--font-nanum);
  }
}
