@import './theme.css';

@layer base {
  body {
    color: var(--text);
    background-color: var(--background);
  }
  * {
    @apply select-none;
    font-family: var(--font-hahmlet);

    /* 색상 전환 효과 */
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
  button,
  input {
    cursor: pointer;
    outline: none;
  }
}
