@import './theme.css';

@layer base {
  body {
    color: var(--text);
    background-color: var(--background);
  }
  * {
    font-family: var(--font-hahmlet);
    user-select: none;
    -webkit-user-select: none;

    /* 색상 전환 효과 */
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 100ms;
  }

  /* 텍스트 선택 가능 영역 설정 */
  [data-selectable='true'] {
    * {
      @apply select-text;
      user-select: text;
      -webkit-user-select: text;
    }
  }
  [data-selectable='false'] {
    * {
      @apply select-none;
      user-select: none;
      -webkit-user-select: none;
    }
  }

  button,
  input {
    cursor: pointer;
    outline: none;
  }
  input[type='text'] {
    cursor: text;
  }
}
