@custom-variant dark (&:is(.dark *));

@theme {
  --font-parastoo: 'Parastoo', ui-serif, serif;
  --font-hahmlet: 'Hahmlet', ui-serif, serif;
  --font-dm-serif-text: 'DMSerifText', ui-serif, serif;
}

@theme inline {
  --color-text: var(--text);
  --color-text-muted: var(--text-muted);
  --color-background: var(--background);
}

:root {
  --background: #fef7e0; /* 기본 백그라운드 (파피루스 베이스) */
  --text: #5d4e37; /* 브라운 텍스트 */
  --text-muted: color-mix(in srgb, var(--text) 70%, var(--background) 30%);
  --primary: #f4e4bc; /* 프라이머리 */
  --secondary: #e8d5a3; /* 세컨더리 */
  --accent: #d4b896; /* 악센트 컬러 */
  --surface: #f4e4bc; /* 표면 색상 */
  --border: #c9b88a; /* 보더 컬러 */
}

/* 다크 모드 (어두운 종이 질감) */
.dark {
  --background: #282828;
  --header-background: #202125;
  --text: #ad9d7c;
  --text-muted: color-mix(in srgb, var(--text) 70%, var(--background) 30%);
}
